.navbar {
  height: 4rem;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.navbar-img {
  width: 55px;
  margin: 10px;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  margin-top: 20px;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}

.searchbar {
  background: white;
  margin-right: 20px;
}

.searchbar-input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar-input:focus {
  outline: none;
}

.searchbar-btn {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
}

.pokedex-container {
  display: flex;
  flex-direction: row;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0px 10px;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-img-container {
  padding: 0px 5px;
}

.pokemon-img {
  width: 90px;
  height: 90px;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-btn {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin: 0px 10px;
}
